.center {
    display: flex;
    width: 100% ;
    min-height: 60vh;
    margin: 5%;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

p {
    margin:2%;
}

span{
    margin: 2%;
}