<header class="header">
  <nav class="nav">
    <div class="links">
      <a routerLink="/ebook/welcome">Welcome</a>
      <a routerLink="/ebook/lacos">Laços</a>
      <a routerLink="/ebook/tipo-de-dados">Tipo de Dados</a>
      <a routerLink="/ebook/variaveis">Variáveis</a>
      <a routerLink="/ebook/operadores">Operadores</a>
      <a routerLink="/ebook/estrutura-de-controles">Estrutura-de Controles</a>
    </div>
    <!-- nossa tag avatar-->
    <app-avatar></app-avatar>
    
  </nav>
</header>
