<div class="container">
  <h1>Aula de Tabelas Dinânicas</h1>
  <!-- Tabela Promise -->
  <section class="card">
    <div class="topo">
      <h2>Promise -then / Catch</h2>
      <button (click)="this.carregarPromise()">Carregar Dados</button>
    </div>

    <!-- Criando um IF -->
    @if (errorPromise.errorAssync) {
      <table>
        <tbody>
          <tr>
            <td class="sem-dados">No Data + {{ this.errorPromise.errorNome }}</td>
          </tr>
        </tbody>
      </table>
      ng salario
    } @else {
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Idade</th>
            <th>Ativo</th>
            <th>Salario</th>
            <th>Data de Registro</th>
            <th>Departamento</th>
          </tr>
        </thead>
        <tbody>
          @for (item of this.localUserPromise; track $index) {
            <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.idade }}</td>
              <td>{{ item.ativo }}</td>
              <td>{{ item.salario }}</td>
              <td>{{ item.dataRegistro | date }}</td>
              <td>{{ item.departamento }}</td>
            </tr>
          }
          <!-- Fim do for -->
        </tbody>
      </table>
    }
    <!-- Fim do else -->
  </section>

  <!-- Nossa 2ª tabela de promise -->
  <section class="card">
    <div class="topo">
      <h2>Promise -Asyn & Await</h2>
      <button (click)="carregarAssyncAwaitPromise()">Carregar Dados</button>
    </div>

    <!-- Criando um IF -->
    @if (errorAssyncAwaitPromise.errorAssync) {
      <table>
        <tbody>
          <tr>
            <td class="sem-dados">No Data + {{ this.errorAssyncAwaitPromise.errorNome }}</td>
          </tr>
        </tbody>
      </table>
    } @else {
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Idade</th>
            <th>Ativo</th>
            <th>Salario</th>
            <th>Data de Registro</th>
            <th>Departamento</th>
          </tr>
        </thead>
        <tbody>
          @for (item of this.localUserAssyncPromise; track $index) {
            <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.idade }}</td>
              <td>{{ item.ativo }}</td>
              <td>{{ item.salario }}</td>
              <td>{{ item.dataRegistro | date }}</td>
              <td>{{ item.departamento }}</td>
            </tr>
          }
          <!-- Fim do for -->
        </tbody>
      </table>
    }
    <!-- Fim do else -->
  </section>

  <!-- Nossa 3ª tabela de Observable -->

  <section class="card">
    <div class="topo">
      <h2>Observable + PipeAssync</h2>
      <button>Carregar Dados</button>
    </div>

    @if (this.localUserObservable$ | async; as utilizadores) {
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Idade</th>
            <th>Ativo</th>
            <th>Salario</th>
            <th>Data de Registro</th>
            <th>Departamento</th>
          </tr>
        </thead>

        <tbody>
          @for (item of utilizadores; track item.id) {
            <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.idade }}</td>
              <td>{{ item.ativo }}</td>
              <td>{{ item.salario }}</td>
              <td>{{ item.dataRegistro | date }}</td>
              <td>{{ item.departamento }}</td>
            </tr>
          }
          <!-- fim do for -->
        </tbody>
      </table>
    }
    <!-- fim do if -->
    @else {
      <table>
        <tbody>
          <tr>
            <td class="sem-dados">Error em carregar Observable com PipeAssync</td>
          </tr>
        </tbody>
      </table>
    }
  </section>

  <!-- Inicio -->

  <section class="card">
    <div class="topo">
      <h2>Observable com Subscribe</h2>
      <button (click)="this.carregarObservable()">Carregar Dados</button>
      
</div>

  @if (errorObservable.errorAssync) {
      <table>
        <tbody>
          <tr>
            <td class="sem-dados">No Data + {{ this.errorObservable.errorNome }}</td>
          </tr>
        </tbody>
      </table>
    } @else {
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Idade</th>
            <th>Ativo</th>
            <th>Salario</th>
            <th>Data de Registro</th>
            <th>Departamento</th>
          </tr>
        </thead>
        <tbody>
          @for (item of this.localUserSubscrition; track $index) {
            <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.idade }}</td>
              <td>{{ item.ativo }}</td>
              <td>{{ item.salario }}</td>
              <td>{{ item.dataRegistro | date }}</td>
              <td>{{ item.departamento }}</td>
            </tr>
          }
          <!-- Fim do for -->
        </tbody>
      </table>
    }


